<script type="text/javascript" src="js/jquery.js"></script>
<!-- Header Start -->
<header class="header-1" id="header">
    <div class="vd_top-menu-wrapper">
        <div class="container ">
            <div class="vd_top-nav vd_nav-width  ">
                <div class="vd_panel-header">
                    <div class="logo">

                        <a href="index.html"><!--<img alt="logo" src="img/logo1.png" width="200%">-->ระบบจัดการทรัพยากร</a>


                    </div>
                    <!-- logo -->
                    <div class="vd_panel-menu hidden-sm hidden-xs " data-intro="<strong>Minimize Left Navigation</strong><br/>Toggle navigation size to medium or small size. You can set both button or one button only. See full option at documentation." data-step=1>

                        <span class="nav-medium-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Medium Nav Toggle" data-action="nav-left-medium">
                                <i class="fa fa-bars"></i>
                            </span>
                        <!--
                            <span class="nav-small-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Small Nav Toggle" data-action="nav-left-small">
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            -->
                    </div>

                    <div class="vd_panel-menu left-pos visible-sm visible-xs">
                        <span class="menu" data-action="toggle-navbar-left">
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                    </div>

                    <div class="vd_panel-menu visible-sm visible-xs">
                        <span class="menu visible-xs" data-action="submenu">
                                <i class="fa fa-bars"></i>
                             </span>

                        <span class="menu visible-sm visible-xs" data-action="toggle-navbar-right">
                                <i class="fa fa-comments"></i>
                            </span>

                    </div>
                    <!-- vd_panel-menu -->
                </div>
                <!-- vd_panel-header -->

            </div>
            <div class="vd_container">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <input type="file" id="imgupload" style="visibility: hidden;" onchange="uploadFile()" />
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="vd_mega-menu-wrapper">
                            <div class="vd_mega-menu pull-right">
                                <ul class="mega-ul">
                                    <li class="one-icon mega-li">
                                        <a href="index.html" class="mega-link" data-action="click-trigger">
                                            <span class="mega-icon"><i class="fa fa-users"></i></span>
                                            <span class="badge vd_bg-red"></span>
                                        </a>

                                        <div class="vd_mega-menu-content width-xs-3 width-sm-4 width-md-5 width-lg-4 right-xs left-sm" data-action="click-target">
                                            <div class="child-menu">
                                                <div class="title">
                                                    สนทนาออนไลน์ <i></i>

                                                </div>
                                                <div class="content-list content-image content-menu">
                                                    <div data-rel="scroll">
                                                        <ul class="list-wrapper pd-lr-10" id="chatbox">

                                                        </ul>
                                                    </div>


                                                    <div class="closing chat-area">
                                                        <div class="chat-box">
                                                            <input type="text" placeholder="chat here.." id="chat-text" />
                                                        </div>
                                                        <div class="vd_panel-menu">


                                                            <div data-rel="tooltip" data-original-title="Insert Picture" class="menu" style="margin-right: 15px; margin-top: 5px" id="attachment" onClick="getAttach()">
                                                                <i class="fa fa-paperclip" style="color: #000;"></i>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- child-menu -->
                                        </div>
                                        <!-- vd_mega-menu-content -->
                                    </li>
                                    <li id="top-menu-3" class="one-icon mega-li">

                                        <a href="index.html" class="mega-link" data-action="click-trigger">

                                            <span class="mega-icon"><i class="fa fa-envelope"></i></span>
                                            <!--<span class="mega-icon"><i class="fa fa-globe"></i></span>-->
                                            <span class="badge vd_bg-red"><!--51--></span>
                                        </a>
                                        <div class="vd_mega-menu-content  width-xs-3 width-sm-4  center-xs-3 left-sm" data-action="click-target">
                                            <div class="child-menu">
                                                <div class="title">
                                                    Notifications

                                                </div>
                                                <div class="content-list">
                                                    <div data-rel="scroll">
                                                        <ul class="list-wrapper pd-lr-10" id="notification_center">

                                                        </ul>
                                                    </div>
                                                    <div class="closing text-center" style="">

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- child-menu -->
                                        </div>
                                        <!-- vd_mega-menu-content -->
                                    </li>

                                    <li id="top-menu-profile" class="profile mega-li">
                                        <a href="#" class="mega-link" data-action="click-trigger">
                                            <span class="mega-image">
                                                    <img src="img/users/user1.jpg" alt="example image" />
                                                </span>
                                            <span class="mega-name">
                                                    Caroline <i class="fa fa-caret-down fa-fw"></i>
                                                </span>
                                        </a>
                                        <div class="vd_mega-menu-content  width-xs-2  left-xs left-sm" data-action="click-target">
                                            <div class="child-menu">
                                                <div class="content-list content-menu">
                                                    <ul class="list-wrapper pd-lr-10">
                                                        <li>
                                                            <a href="#">
                                                                <div class="menu-icon"><i class=" fa fa-user"></i></div>
                                                                <div class="menu-text">แก้ไขประวัติ</div>
                                                            </a>
                                                        </li>


                                                        <li>
                                                            <a href="#">
                                                                <div class="menu-icon"><i class=" fa fa-cogs"></i></div>
                                                                <div class="menu-text">ปรับแต่ง</div>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#">
                                                                <div class="menu-icon"><i class=" fa fa-sign-out"></i></div>
                                                                <div class="menu-text">ออกจากระบบ</div>
                                                            </a>
                                                        </li>
                                                        <li class="line"></li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="menu-icon"><i class=" fa fa-question-circle"></i></div>
                                                                <div class="menu-text">คู่มือการใช้งาน</div>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </li>


                                </ul>
                                <!-- Head menu search form ends -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- container -->
    </div>
    <!-- vd_primary-menu-wrapper -->

</header>
<!-- Header Ends -->
<script>
    if (jQuery) {
        // jQuery is loaded  
        alert("Yeah!");
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }

    function getAttach() {
        //alert('please upload file');
        $("#imgupload").click();

    }

    function uploadFile(selectedFile) {

        alert($('#imgupload').val());

        input = document.getElementById('imgupload');
        file = input.files[0];
        //fr = new FileReader();
        //fr.onload = receivedText;
        //fr.readAsText(file);
        //fr.readAsDataURL(file);

        getBase64(file);
    }


    function getBase64(file) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function() {
            alert(reader.result);

            testAPI();

            /*
                        $.ajax({
                            type: "post",
                            url: 'http://localhost:3000/api/chat/attachment',
                            data: {
                                data: reader.result,
                            },
                            success: function(json) {
                                alert(JSON.stringify(json));
                                //data_res = JSON.parse(JSON.stringify(json));
                                //bindata_group(data_res);
                            }
                        });*/

        };
        reader.onerror = function(error) {
            alert('Error: ', error);
        };
    }
    /*
    if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
      alert('The File APIs are not fully supported in this browser.');
      return;
    }   

    input = document.getElementById('fileinput');
    if (!input) {
      alert("Um, couldn't find the fileinput element.");
    }
    else if (!input.files) {
      alert("This browser doesn't seem to support the `files` property of file inputs.");
    }
    else if (!input.files[0]) {
      alert("Please select a file before clicking 'Load'");               
    }
    else {
      file = input.files[0];
      fr = new FileReader();
      fr.onload = receivedText;
      //fr.readAsText(file);
      fr.readAsDataURL(file);
    }
    */
</script>