<div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left  ">

    <div class="navbar-menu clearfix">
        <div class="vd_panel-menu hidden-xs">
            <span data-original-title="Expand All" data-toggle="tooltip" data-placement="bottom" data-action="expand-all" class="menu" data-intro="<strong>Expand Button</strong><br/>To expand all menu on left navigation menu." data-step=4>
    <i class="fa fa-sort-amount-asc"></i>
</span>
        </div>
        <h3 class="menu-title hide-nav-medium hide-nav-small">เมนูการใช้งาน</h3>

        <div class="vd_menu">
            <ul>
                <li>
                    <a href="/dashboard" data-action="click-trigger">
                        <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                        <span class="menu-text">แผงควบคุมหลัก</span>


                        </span>
                        <!--<span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>-->
                    </a>

                </li>
                <li>
                    <a href="/profile" data-action="click-trigger">
                        <span class="menu-icon"><i class="fa fa-user"></i></span>
                        <span class="menu-text">ข้อมูลส่วนบุคคล</span>
                        <!--<span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>-->
                    </a>

                </li>
                <li>
                    <a href="/device">
                        <span class="menu-icon"><i class="fa fa-tablet"></i></span>
                        <span class="menu-text">ลงทะเบียนอุปกรณ์</span>
                        <!--<span class="menu-badge"><span class="badge vd_bg-red">78</span></span>-->
                    </a>
                </li>
                <li>
                    <a href="/setting">
                        <span class="menu-icon"><i class="fa fa-gear"></i></span>
                        <span class="menu-text">ปรับแต่งการใช้งาน</span>
                        <!--<span class="menu-badge"><span class="badge vd_bg-red">78</span></span>-->
                    </a>
                </li>
                <li>
                    <a href="/configuration">
                        <span class="menu-icon"><i class="icon-tools"> </i></span>
                        <span class="menu-text">ตั้งค่าระบบ</span>
                        <!--<span class="menu-badge"><span class="badge vd_bg-red">78</span></span>-->
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-action="click-trigger">
                        <span class="menu-icon entypo-icon"><i class="icon-newspaper"> </i></span>
                        <span class="menu-text">รายงาน</span>
                        <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                    </a>
                    <div class="child-menu" data-action="click-target">
                        <ul>
                            <li>
                                <a href="/report/device/activate">
                                    <span class="menu-text">รายงานการลงทะเบียนอุปกรณ์</span>
                                </a>
                            </li>
                            <li>
                                <a href="/report/device/deactivate/today" data-action="click-trigger">
                                    <span class="menu-text">รายงานการยกเลิกอุปกรณ์</span>
                                    <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                </a>
                                <div class="child-menu" data-action="click-target">
                                    <ul>
                                        <li>
                                            <a href="/report/device/deactivate/today">
                                                <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในวันนี้</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/device/deactivate/week">
                                                <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในช่วง 7 วันล่าสุด</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/device/deactivate/month">
                                                <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในเดือนนี้</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/device/deactivate/year">
                                                <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในปีนี้</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/report/usage/group/today" data-action="click-trigger">
                                    <span class="menu-text">รายงานการใช้งานจำแนกตามกลุ่ม</span>
                                    <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                </a>
                                <div class="child-menu" data-action="click-target">
                                    <ul>
                                        <li>
                                            <a href="/report/usage/group/today">
                                                <span class="menu-text">รายงานการใช้งานในวันนี้</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/usage/group/week">
                                                <span class="menu-text">รายงานการใช้งานในช่วง 7 วันล่าสุด</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/usage/group/month">
                                                <span class="menu-text">รายงานการใช้งานในเดือนนี้</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/usage/group/year">
                                                <span class="menu-text">รายงานการใช้งานในปีนี้</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/report/usage/person/today" data-action="click-trigger">
                                    <span class="menu-text">รายงานการใช้งานระบุบุคคล</span>
                                    <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                </a>
                                <div class="child-menu" data-action="click-target">
                                    <ul>
                                        <li>
                                            <a href="/report/usage/person/today">
                                                <span class="menu-text">รายงานการใช้งานในวันนี้</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/usage/person/week">
                                                <span class="menu-text">รายงานการใช้งานในช่วง 7 วันล่าสุด</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/usage/person/month">
                                                <span class="menu-text">รายงานการใช้งานในเดือนนี้</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/usage/person/year">
                                                <span class="menu-text">รายงานการใช้งานในปีนี้</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/report/policy/usage/">
                                    <span class="menu-text">รายงานการใช้งานที่ไม่เป็นไปตามกฏ</span>
                                </a>
                            </li>
                            <li>
                                <a href="/report/policy/device">
                                    <span class="menu-text">รายงานบุคคลที่มีอุปกรณ์ครบตามกำหนด</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon"><i class="fa fa-sitemap"> </i></span>
                                <span class="menu-text">Nav Variations</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul class="clearfix">
                                    <li>
                                        <a href="javascript:" data-action="click-trigger">
                                            <span class="menu-text">Side Navigation</span>
                                            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                        </a>
                                        <div class="child-menu" data-action="click-target">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="nav-side-large-menu-tab.html">
                                                        <span class="menu-text">Large Menu Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-large-tabs-tab.html">
                                                        <span class="menu-text">Large Tabs Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-large-profile-tab.html">
                                                        <span class="menu-text">Large Profile Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-large-no-tab.html">
                                                        <span class="menu-text">Large No Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-large-chat-content.html">
                                                        <span class="menu-text">Large Chat Content</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-large-email.html">
                                                        <span class="menu-text">Large Email</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-medium-menu-tab.html">
                                                        <span class="menu-text">Medium Menu Tab </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-medium-tabs-tab.html">
                                                        <span class="menu-text">Medium Tabs Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-medium-profile-tab.html">
                                                        <span class="menu-text">Medium Profile Tab </span>
                                                        <span class="menu-badge"><span class="badge vd_bg-red">HOT</span></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-medium-no-tab.html">
                                                        <span class="menu-text">Medium No Tab </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-small-menu-tab.html">
                                                        <span class="menu-text">Small Menu Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-small-tabs-tab.html">
                                                        <span class="menu-text">Small Tabs Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-small-profile-tab.html">
                                                        <span class="menu-text">Small Profile Tab</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="nav-side-small-no-tab.html">
                                                        <span class="menu-text">Small No Tab</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:" data-action="click-trigger">
                                            <span class="menu-text">Top Navigation</span>
                                            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                        </a>
                                        <div class="child-menu" data-action="click-target">
                                            <ul class="clearfix">
                                                <li> <a href="nav-top-search.html">Search </a> </li>
                                                <li> <a href="nav-top-menu.html">Mega Menu </a> </li>
                                                <li> <a href="nav-top-clean-style.html"> Clean Style </a> </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:" data-action="click-trigger">
                                            <span class="menu-text">Bottom Navigation</span>
                                            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                        </a>
                                        <div class="child-menu" data-action="click-target">
                                            <ul class="clearfix">
                                                <li> <a href="nav-bottom-widget.html"> Chat Widget </a> </li>
                                                <li> <a href="nav-bottom-clean-menu.html"> Clean With Menu </a> </li>
                                                <li> <a href="nav-bottom-clean-center.html"> Clean Center Text </a> </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="functions-index.html">
                                <span class="menu-icon"><i class="fa fa-code"></i></span>
                                <span class="menu-text">Custom Functions</span>
                                <span class="menu-badge"><span class="badge vd_bg-yellow"><i class="fa fa-star"></i></span></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon"><i class="fa fa-th-list"></i></span>
                                <span class="menu-text">Forms</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="forms-elements.html">
                                            <span class="menu-text">Form Elements</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forms-layouts.html">
                                            <span class="menu-text">Form Layouts</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forms-wizard.html">
                                            <span class="menu-text">Form Wizard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forms-validation.html">
                                            <span class="menu-text">Form Validation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forms-sliders.html">
                                            <span class="menu-text">Form Slider</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forms-multiple-file-upload.html">
                                            <span class="menu-text">Form Multiple File Upload</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="forms-inline-editing.html">
                                            <span class="menu-text">Form Inline Editing</span>
                                            <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon entypo-icon"><i class="icon-tools"></i></span>
                                <span class="menu-text">UI Elements</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="ui-panels.html">
                                            <span class="menu-text">Panels</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-panels-draggable.html">
                                            <span class="menu-text">Panels Draggable</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-buttons.html">
                                            <span class="menu-text">Buttons</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-typography.html">
                                            <span class="menu-text">Typography</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-icons.html">
                                            <span class="menu-text">Icons</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-tabs-accordion.html">
                                            <span class="menu-text">Tabs and Accordion</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-alert-notifications.html">
                                            <span class="menu-text">Alert and Notifications</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-pricing-tables.html">
                                            <span class="menu-text">Pricing Tables</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon"><i class="fa fa-table"></i></span>
                                <span class="menu-text">List &amp; Tables</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="listtables-tables-variation.html">
                                            <span class="menu-text">Tables Variation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listtables-data-tables.html">
                                            <span class="menu-text">Data Tables</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listtables-small-list.html">
                                            <span class="menu-text">Small List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listtables-medium-list.html">
                                            <span class="menu-text">Medium List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listtables-blog-small-list.html">
                                            <span class="menu-text">Blog Small List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listtables-blog-large-list.html">
                                            <span class="menu-text">Blog Large List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listtables-grid-list.html">
                                            <span class="menu-text">Grid List</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon"><i class="fa fa-signal"></i></span>
                                <span class="menu-text">Charts</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="charts-morris.html">
                                            <span class="menu-text">Morris Chart</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="charts-flot.html">
                                            <span class="menu-text">Flot Chart</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="charts-sparkline.html">
                                            <span class="menu-text">Sparkline Chart</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon"><i class="fa fa-map-marker"></i></span>
                                <span class="menu-text">Maps</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="maps-vector.html">
                                            <span class="menu-text">Vector Map</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="maps-google.html">
                                            <span class="menu-text">Google Map</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon"><i class="fa fa-picture-o"></i></span>
                                <span class="menu-text">Gallery</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="gallery-page.html">
                                            <span class="menu-text">Gallery Page</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery-masonry.html">
                                            <span class="menu-text">Gallery Masonry</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery-text-filter.html">
                                            <span class="menu-text">Gallery Text Filter</span>
                                            <span class="menu-badge"><span class="badge vd_bg-red">HOT</span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon entypo-icon"><i class="icon-newspaper"></i></span>
                                <span class="menu-text">Extra Pages</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="pages-custom-product.html">
                                            <span class="menu-text">Custom Product Form</span>
                                            <span class="menu-badge"><span class="badge vd_bg-red">HOT</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-essay.html">
                                            <span class="menu-text">Essay Form</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-invoice.html">
                                            <span class="menu-text">Invoice</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-user-profile-form.html">
                                            <span class="menu-text">User Profiles Form</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-user-profile.html">
                                            <span class="menu-text">User Profiles Page</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-timeline.html">
                                            <span class="menu-text">Timeline</span>
                                            <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-calendar.html">
                                            <span class="menu-text">Calendar</span>
                                            <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-ecommerce-products.html">
                                            <span class="menu-text">Ecommerce Products List</span>
                                            <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-ecommerce-product-add.html">
                                            <span class="menu-text">Ecommerce Product add</span>
                                            <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-login.html">
                                            <span class="menu-text">Login Page</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-forget-password.html">
                                            <span class="menu-text">Forget Password Page</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-register.html">
                                            <span class="menu-text">Register Page</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-logout.html">
                                            <span class="menu-text">Log Out Page</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-lockscreen.html">
                                            <span class="menu-text">Lock Screen</span>
                                            <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-404-error.html">
                                            <span class="menu-text">404 Error</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages-500-error.html">
                                            <span class="menu-text">500 Error</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-action="click-trigger">
                                <span class="menu-icon"><i class="fa fa-desktop"></i></span>
                                <span class="menu-text">Front End</span>
                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                            </a>
                            <div class="child-menu" data-action="click-target">
                                <ul>
                                    <li>
                                        <a href="front-1.html">
                                            <span class="menu-text">Flat Theme</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="front-2.html">
                                            <span class="menu-text">Layer Slider</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="front-blog.html">
                                            <span class="menu-text">Front Blog</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="front-blog-content.html">
                                            <span class="menu-text">Front Blog Content</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="http://themeforest.net/item/vendroid-super-flexible-multipurpose-admin-theme/7717536?ref=Venmond">
                                <span class="menu-icon"><i class="fa fa-shopping-cart"></i></span>
                                <span class="menu-text">Buy This Theme</span>
                                <span class="menu-badge"><span class="badge vd_bg-red"><i class="fa fa-exclamation"></i></span></span>
                            </a>
                        </li>
                    -->
            </ul>
            <!-- Head menu search form ends -->
        </div>
    </div>
    <div class="navbar-spacing clearfix">
    </div>
    <div class="vd_menu vd_navbar-bottom-widget">
        <ul>
            <li>
                <a href="pages-logout.html">
                    <span class="menu-icon"><i class="fa fa-sign-out"></i></span>
                    <span class="menu-text">ออกจากระบบ</span>
                </a>

            </li>
        </ul>
    </div>
</div>
<div class="vd_navbar vd_nav-width vd_navbar-chat vd_bg-black-80 vd_navbar-right   ">
    <div class="navbar-tabs-menu clearfix">
        <span class="expand-menu" data-action="expand-navbar-tabs-menu">
    <span class="menu-icon menu-icon-left">
        <i class="fa fa-ellipsis-h"></i>
        <span class="badge vd_bg-red">
            20
        </span>
        </span>
        <span class="menu-icon menu-icon-right">
        <i class="fa fa-ellipsis-h"></i>
        <span class="badge vd_bg-red">
            20
        </span>
        </span>
        </span>
        <div class="menu-container">
            <div class="navbar-search-wrapper">
                <div class="navbar-search vd_bg-black-30">
                    <span class="append-icon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Search" class="vd_menu-search-text no-bg no-bd vd_white width-70" name="search">
                    <div class="pull-right search-config">
                        <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle"><span class="prepend-icon vd_grey"><i class="fa fa-cog"></i></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="navbar-menu clearfix">
        <div class="content-list content-image content-chat">
            <ul class="list-wrapper no-bd-btm pd-lr-10">
                <li class="group-heading vd_bg-black-20">FAVORITE</li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar.jpg" alt="example image"></div>
                        <div class="menu-text">Jessylin
                            <div class="menu-info">
                                <span class="menu-date">Administrator </span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar-2.jpg" alt="example image"></div>
                        <div class="menu-text">Rodney Mc.Cardo
                            <div class="menu-info">
                                <span class="menu-date">Designer </span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="badge status vd_bg-grey">&nbsp;</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar-3.jpg" alt="example image"></div>
                        <div class="menu-text">Theresia Minoque
                            <div class="menu-info">
                                <span class="menu-date">Engineering </span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
                    </a>
                </li>
                <li class="group-heading vd_bg-black-20">FRIENDS</li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar-4.jpg" alt="example image"></div>
                        <div class="menu-text">Greg Grog
                            <div class="menu-info">
                                <span class="menu-date">Developer </span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="badge status vd_bg-grey">&nbsp;</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar-5.jpg" alt="example image"></div>
                        <div class="menu-text">Stefanie Imburgh
                            <div class="menu-info">
                                <span class="menu-date">Dancer</span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="vd_grey font-sm"><i class="fa fa-mobile"></i></span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar-6.jpg" alt="example image"></div>
                        <div class="menu-text">Matt Demon
                            <div class="menu-info">
                                <span class="menu-date">Musician </span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="vd_grey font-sm"><i class="fa fa-mobile"></i></span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar-7.jpg" alt="example image"></div>
                        <div class="menu-text">Jeniffer Anastasia
                            <div class="menu-info">
                                <span class="menu-date">Senior Developer </span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="menu-icon"><img src="img/avatar/avatar-8.jpg" alt="example image"></div>
                        <div class="menu-text">Daniel Dreamon
                            <div class="menu-info">
                                <span class="menu-date">Sales Executive </span>
                            </div>
                        </div>
                        <div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
                    </a>
                </li>

            </ul>
        </div>


    </div>
    <div class="navbar-spacing clearfix">
    </div>
</div>
<!-- Middle Content Start -->