<div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left  ">

    <div class="navbar-menu clearfix">
        <div class="vd_panel-menu hidden-xs">
            <span data-original-title="Expand All" data-toggle="tooltip" data-placement="bottom" data-action="expand-all" class="menu" data-intro="<strong>Expand Button</strong><br/>To expand all menu on left navigation menu." data-step=4>
                <i class="fa fa-sort-amount-asc"></i>
            </span>
        </div>
        <h3 class="menu-title hide-nav-medium hide-nav-small">เมนูการใช้งาน</h3>

        <div class="vd_menu">
            <ul>
                <% if(isauthorized){ %>
                    <li id="aa1">
                        <a href="/systemcenter/dashboard">
                            <span class="menu-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="menu-text">แผงควบคุมหลัก</span>


                            </span>
                            <!--<span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>-->
                        </a>

                    </li>
                    <%}%>
                        <li>
                            <a href="/systemcenter/profile">
                                <span class="menu-icon"><i class="fa fa-user"></i></span>
                                <span class="menu-text">ข้อมูลส่วนบุคคล</span>
                                <!--<span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>-->
                            </a>

                        </li>
                        <li>
                            <a href="/systemcenter/device">
                                <span class="menu-icon"><i class="fa fa-tablet"></i></span>
                                <span class="menu-text">ลงทะเบียนอุปกรณ์</span>
                                <!--<span class="menu-badge"><span class="badge vd_bg-red">78</span></span>-->
                            </a>
                        </li>
                        <li>
                            <a href="/systemcenter/history">
                                <span class="menu-icon"><i class="fa fa-history"></i></span>
                                <span class="menu-text">ประวัติการเข้าใช้งานย้อนหลัง</span>
                                <!--<span class="menu-badge"><span class="badge vd_bg-red">78</span></span>-->
                            </a>
                        </li>
                        <li>
                            <a href="/systemcenter/setting">
                                <span class="menu-icon"><i class="fa fa-gear"></i></span>
                                <span class="menu-text">ปรับแต่งการใช้งาน</span>
                                <!--<span class="menu-badge"><span class="badge vd_bg-red">78</span></span>-->
                            </a>
                        </li>
                        <% if(isauthorized){ %>
                            <li id="aa2">
                                <a href="/systemcenter/configuration">
                                    <span class="menu-icon"><i class="icon-tools"> </i></span>
                                    <span class="menu-text">ตั้งค่าระบบ</span>
                                    <!--<span class="menu-badge"><span class="badge vd_bg-red">78</span></span>-->
                                </a>
                            </li>
                            <li id="aa3">
                                <a href="javascript:void(0);" data-action="click-trigger">
                                    <span class="menu-icon entypo-icon"><i class="icon-newspaper"> </i></span>
                                    <span class="menu-text">รายงาน</span>
                                    <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                </a>
                                <div class="child-menu" data-action="click-target">
                                    <ul>
                                        <li>
                                            <a href="/systemcenter/report/device/activate">
                                                <span class="menu-text">รายงานการลงทะเบียนอุปกรณ์</span>
                                            </a>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/usage/group/today" data-action="click-trigger">
                                                <span class="menu-text">รายงานการใช้งานจำแนกตามกลุ่ม</span>
                                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                            </a>
                                            <div class="child-menu" data-action="click-target">
                                                <ul>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/group/today">
                                                            <span class="menu-text">รายงานการใช้งานในวันนี้</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/group/week">
                                                            <span class="menu-text">รายงานการใช้งานในช่วง 7 วันล่าสุด</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/group/month">
                                                            <span class="menu-text">รายงานการใช้งานในเดือนนี้</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/group/year">
                                                            <span class="menu-text">รายงานการใช้งานในปีนี้</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/device/deactivate/today" data-action="click-trigger">
                                                <span class="menu-text">รายงานการยกเลิกอุปกรณ์</span>
                                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                            </a>
                                            <div class="child-menu" data-action="click-target">
                                                <ul>
                                                    <li>
                                                        <a href="/systemcenter/report/device/deactivate/today">
                                                            <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในวันนี้</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/device/deactivate/week">
                                                            <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในช่วง 7 วันล่าสุด</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/device/deactivate/month">
                                                            <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในเดือนนี้</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/device/deactivate/year">
                                                            <span class="menu-text">รายงานการยกเลิกอุปกรณ์ในปีนี้</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/policy/usage">
                                                <span class="menu-text">รายงานการใช้งานที่ไม่เป็นไปตามกฏ</span>
                                            </a>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/usage/site/area">
                                                <span class="menu-text">รายงานการใช้งานจำแนกตามพื้นที่</span>
                                            </a>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/usage/person/today" data-action="click-trigger">
                                                <span class="menu-text">รายงานการใช้งานระบุบุคคล</span>
                                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                            </a>
                                            <div class="child-menu" data-action="click-target">
                                                <ul>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/person/today">
                                                            <span class="menu-text">รายงานการใช้งานในวันนี้</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/person/week">
                                                            <span class="menu-text">รายงานการใช้งานในช่วง 7 วันล่าสุด</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/person/month">
                                                            <span class="menu-text">รายงานการใช้งานในเดือนนี้</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/person/year">
                                                            <span class="menu-text">รายงานการใช้งานในปีนี้</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/usage/type">
                                                <span class="menu-text">รายงานการใช้จำแนกตามประเภทอุปกรณ์</span>
                                            </a>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/usage/time">
                                                <span class="menu-text">รายงานการใช้จำแนกตามเวลา</span>
                                            </a>
                                        </li>
										<li>
                                            <a href="/systemcenter/report/policy/device">
                                                <span class="menu-text">รายงานการใช้งานของบุคคลากรที่ครบตามจำนวนอุปกรณ์ที่อนุญาต</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/systemcenter/report/usage/site/today" data-action="click-trigger">
                                                <span class="menu-text">รายงานการใช้ทรัพยากรของระบบ</span>
                                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                            </a>
                                            <div class="child-menu" data-action="click-target">
                                                <ul>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/site/today">
                                                            <span class="menu-text">พื้นที่การใช้งาน</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/usage/site/amount">
                                                            <span class="menu-text">จำนวนผู้ใช้งาน</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>                               
 
                                        <li>
                                            <a href="/systemcenter/report/usage/os">
                                                <span class="menu-text">รายงานการใช้งานจำแนกตาม ระบบปฎิบัติการ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/systemcenter/report/usage/browser">
                                                <span class="menu-text">รายงานการใช้งานจำแนกตาม  Browser</span>
                                            </a>
                                        </li>
										
										<li>
                                            <a href="/systemcenter/report/usage/activity">
                                                <span class="menu-text">รายงานการเปลี่ยนแปลงอุปกรณ์</span>
                                            </a>
                                        </li>
										
										<li>
                                            <a href="/systemcenter/report/monitor/device/addmonitor" data-action="click-trigger">
                                                <span class="menu-text">กำหนดอุปกรณ์เพื่อตรวจสอบการเข้าใช้งาน</span>
                                                <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                                            </a>
                                            <div class="child-menu" data-action="click-target">
                                                <ul>
                                                    <li>
                                                        <a href="/systemcenter/report/monitor/device/addmonitor">
                                                            <span class="menu-text">กำหนดอุปกรณ์เพื่อตรวจสอบการเข้าใช้งาน</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/systemcenter/report/monitor/device/listmonitor">
                                                            <span class="menu-text">รายชื่ออุปกรณ์ที่ถูกตรวจสอบการเข้าใช้งาน</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                            </li>
                            <%}%>
            </ul>
            <!-- Head menu search form ends -->
            <div class="navbar-spacing clearfix">
            </div>
        </div>
    </div>
    <script>
        //alert($("#priv").html().trim().split(",")[2]);
        if ($("#priv").html().trim().split(",")[2] == 'false') {
            //alert('a');
            //document.getElementById("uu1").children[0].style.display = "none";
            document.getElementById("aa1").style.display = "none";
            document.getElementById("aa2").style.display = "none";
            document.getElementById("aa3").style.display = "none";
        } else {
            //alert('b');
        }
    </script>