<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<!-- Specific Page Data -->

<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>BYOD Excise Department</title>
    <meta name="keywords" content="BYOD, Excise, Excise Department, Bring Your Own Device" />
    <meta name="description" content="BYOD ICT">
    <meta name="author" content="Extentsoft Co.,Ltd.">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/ico/favicon.ico">


    <!-- CSS -->

    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


    <link href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->
    <link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css">
    <link href="plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css">
    <link href="plugins/introjs/css/introjs.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="css/chrome.css" rel="stylesheet" type="text/chrome">
    <!-- chrome only css -->



    <!-- Responsive CSS -->
    <link href="css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->

    <!-- for specific page responsive in style css -->


    <!-- Custom CSS -->
    <link href="custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="js/mobile-detect-modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body id="skin" class="boxed-layout  nav-right-hide nav-right-start-hide  nav-top-fixed background-3 nav-left-medium  enlarge-left-to-medium  responsive    clearfix" data-active="skin " data-smooth-scrolling="1">    <div class="vd_body">
    <div class="vd_body">
        <%- include('../admin/partial_dark/header'); %>

            <!-- Content start -->

            <div class="content">
                <div class="container">
                    <%- include('../admin/partial_dark/menu'); %>


                </div>

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">

                            <!-- vd_head-section -->
                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header">
                                    <h1>แบบสำรวจความพึงพอใจ</h1>
                                    <!-- menu -->									
                                </div>
                            </div>
                            <!-- vd_title-section -->

                            <div class="vd_content-section clearfix">
                                <!-- start row-->

                                <!-- end row -->

                                <div class="row" id="form-basic">
                                    <div class="col-md-12">
                                        <div class="panel widget">
                                            <div class="panel-heading vd_bg-grey">
                                                <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-pencil"></i> </span> สร้างแบบสำรวจความพึงพอใจ</h3>
                                            </div>
                                            <div class="panel-body">
												<div class="vd_panel-menu  ">
													<div class="menu no-bg vd_blue" data-placement="bottom" onClick="addform()" id="add-btn"> <span class="menu-icon font-md"><i class="fa fa-plus"></i></span> </div>
												</div>
                                                <form class="form-horizontal" action="#" role="form" id="form-body">
													<div class="form-group">
														<label class="col-sm-4 control-label">ชื่อแบบสำรวจ</label>
														<div class="col-sm-7 controls">
															<input type="text" class="width-70" id="form-name" onpaste="validation();" onkeyup="validation();" onfocusout="validation();">
														</div>
													</div>
                                                                                                      
                                                </form>
												<div class="form-group">
													<div class="col-sm-4"> </div>
													<div class="col-sm-7">														
														<button type="button" class="btn vd_btn vd_bg-blue" id="sbm-btn" onclick="clearold()" style="display:none">บันทึก</button>	
													</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Panel Widget -->
                                    </div>
                                    <!-- col-md-12 -->
                                </div>
                                <!-- row -->


                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->

            </div>
            <!-- .container -->
    </div>
    <!-- .content -->

    <%- include('../admin/partial_dark/footer'); %>



        </div>

        <!-- .vd_body END  -->
        <a id="back-top " href="# " data-action="backtop " class="vd_back-top visible "> <i class="fa fa-angle-up "> </i> </a>

        <!--
<a class="back-top " href="# " id="back-top "> <i class="icon-chevron-up icon-white "> </i> </a> -->

        <!-- Javascript =============================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <!--[if lt IE 9]>
  <script type="text/javascript" src="js/excanvas.js"></script>
<![endif]-->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
        <script type="text/javascript" src="plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

        <script type="text/javascript" src="js/caroufredsel.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>

        <script type="text/javascript" src="plugins/breakpoints/breakpoints.js"></script>
        <script type="text/javascript" src="plugins/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js"></script>

        <script type="text/javascript" src="plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="plugins/tagsInput/jquery.tagsinput.min.js"></script>
        <script type="text/javascript" src="plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="plugins/blockUI/jquery.blockUI.js"></script>
        <script type="text/javascript" src="plugins/pnotify/js/jquery.pnotify.min.js"></script>

        <script type="text/javascript" src="js/theme.js"></script>
        <script type="text/javascript" src="custom/custom.js"></script>

        <!-- Specific Page Scripts Put Here -->
        <!-- Flot Chart  -->
        <script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.pie.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.categories.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.animator.min.js"></script>

        <!-- Vector Map -->
        <script type="text/javascript" src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script type="text/javascript" src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

        <!-- Calendar -->
        <script type="text/javascript" src='plugins/moment/moment.min.js'></script>
        <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
        <script type="text/javascript" src='plugins/fullcalendar/fullcalendar.min.js'></script>

        <!-- Intro JS (Tour) -->
        <script type="text/javascript" src='plugins/introjs/js/intro.min.js'></script>

        <!-- Sky Icons -->
        <script type="text/javascript" src='plugins/skycons/skycons.js'></script>
        


        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="plugins/daterangepicker/daterangepicker.js"></script>
        



        <script>
			account_now = $('#email').text().trim();
			var count_ = 0;
			//alert(account_now);
            $(window).load(function() {
                var priv = $("#priv").html().trim().split(",");
                if (priv[1] < 1) {
                    $('#top-menu-3').hide();
                } else {
                    $('#top-menu-3').show();
                }
            });
        </script>
        <!-- Specific Page Scripts END -->

        <script>
            			
			function addform() {
				document.getElementById("sbm-btn").style.display = "none";
				count_ = count_+1;
				if(count_ >= 5){
					document.getElementById("add-btn").style.display = "none";
				}				
				var div = document.createElement('div');

                    div.className = 'form-group';
                    
                    div.innerHTML =

                    '<label class="col-sm-4 control-label">ข้อที่ '+count_+'.</label> \
					<div class="col-sm-7 controls"> \
						<textarea rows="3" class="width-70" id="form'+count_+'" onpaste="validation();" onkeyup="validation();" onfocusout="validation();"></textarea> \
                    </div> \
                    <div class="form-group"> \
                        <label class="col-sm-4 control-label">ตัวเลือกที่ 1.</label> \
						<div class="col-sm-7 controls"> \
							<input type="text" class="width-70" id="ch1'+count_+'" onpaste="validation();" onkeyup="validation();" onfocusout="validation();"> \
						</div> \
					</div> \
					<div class="form-group"> \
                        <label class="col-sm-4 control-label">ตัวเลือกที่ 2.</label> \
						<div class="col-sm-7 controls"> \
							<input type="text" class="width-70" id="ch2'+count_+'" onpaste="validation();" onkeyup="validation();" onfocusout="validation();"> \
						</div> \
					</div> \
					<div class="form-group"> \
                        <label class="col-sm-4 control-label">ตัวเลือกที่ 3.</label> \
						<div class="col-sm-7 controls"> \
							<input type="text" class="width-70" id="ch3'+count_+'" onpaste="validation();" onkeyup="validation();" onfocusout="validation();"> \
						</div> \
					</div> \
					<div class="form-group"> \
                        <label class="col-sm-4 control-label">ตัวเลือกที่ 4.</label> \
						<div class="col-sm-7 controls"> \
							<input type="text" class="width-70" id="ch4'+count_+'" onpaste="validation();" onkeyup="validation();" onfocusout="validation();"> \
						</div> \
					</div> \
					<div class="form-group"> \
                        <label class="col-sm-4 control-label">ตัวเลือกที่ 5.</label> \
						<div class="col-sm-7 controls"> \
							<input type="text" class="width-70" id="ch5'+count_+'" onpaste="validation();" onkeyup="validation();" onfocusout="validation();"> \
						</div> \
					</div> \
					';

                    document.getElementById('form-body').appendChild(div);			
			}
			
			function clearold() {
				$.ajax('http://byod.excise.go.th/api/clearcustsat', {
					type: "get",
					success: function(json) {
						submitform();									
					}
				});
			}
			
			function submitform() {
				//alert('submit');
				//alert(count_);
				for(i = 0; i < count_; i++){
					var today = new Date();
					fid = "F" + today.getFullYear() + (today.getUTCMonth() + 1) + today.getUTCDate() + today.getUTCHours() + today.getMinutes() + today.getSeconds();
					newid = "F" + today.getFullYear() + (today.getUTCMonth() + 1) + today.getUTCDate() + today.getUTCHours() + today.getMinutes() + today.getSeconds() + i;
					//alert(newid);
					for(j = 0; j < 6; j++){						
						if(j==0){
							var form_ = "form"+(i+1);
							var text_ = document.getElementById(form_).value;
							$.ajax('http://byod.excise.go.th/api/addcustsat', {
								type: "get",
								data: {
									ftype: 'F'+(i+1),
									formname: document.getElementById('form-name').value,
									formid: fid,
									coderef: newid,
									ftext: text_									
								},
								success: function(json) {
									//alert(JSON.stringify(json));									
								}
							});
						}
						else{
							var ch_ = "ch"+j+(i+1);
							var text_ = document.getElementById(ch_).value;
							$.ajax('http://byod.excise.go.th/api/addcustsat', {
								type: "get",
								data: {
									ftype: 'C'+j+(i+1),
									formname: document.getElementById('form-name').value,
									formid: fid,
									coderef: newid,
									ftext: text_									
								},
								success: function(json) {
									//alert(JSON.stringify(json));									
								}
							});
						}
					}
					
				}
				alert('สร้างแบบสำรวจเสร็จเรียบร้อย');
                clearform();
            }
			
			function clearform(){
				document.getElementById('form-body').innerHTML = '';
				count_ = 0;
				window.location = "/custsat/form";
				//addform();
			}
			
			function validation(){
			 for(i =0; i < count_; i++){
				if((document.getElementById('ch1'+(i+1)).value.trim()=='')||(document.getElementById('ch2'+(i+1)).value.trim()=='')||(document.getElementById('ch3'+(i+1)).value.trim()=='')||(document.getElementById('ch4'+(i+1)).value.trim()=='')||(document.getElementById('ch5'+(i+1)).value.trim()=='')||(document.getElementById('form'+(i+1)).value.trim()=='')||(document.getElementById('form-name').value.trim()=='')){
					document.getElementById("sbm-btn").style.display = "none";
					i = 99999;
				}
				else{
					document.getElementById("sbm-btn").style.display = "block";
				}
			 }
			}
			addform();
        </script>

</body>

</html>