<html>
<header></header>

<body>
    <form action="/systemcenter/fixauthen/login" method="post">
        <input type="text" id="email" name="username">
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
</body>

</html>