<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<!-- Specific Page Data -->

<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>BYOD Excise Department</title>
    <meta name="keywords" content="BYOD, Excise, Excise Department, Bring Your Own Device" />
    <meta name="description" content="BYOD ICT">
    <meta name="author" content="Extentsoft Co.,Ltd.">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/ico/favicon.ico">


    <!-- CSS -->

    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


    <link href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->
    <link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css">
    <link href="plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css">
    <link href="plugins/introjs/css/introjs.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="css/chrome.css" rel="stylesheet" type="text/chrome">
    <!-- chrome only css -->



    <!-- Responsive CSS -->
    <link href="css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->

    <!-- for specific page responsive in style css -->


    <!-- Custom CSS -->
    <link href="custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="js/mobile-detect-modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body id="dashboard" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed      responsive    clearfix" data-active="dashboard " data-smooth-scrolling="1">
    <div class="vd_body">
        <%- include('partial/header'); %>

            <!-- Content start -->

            <div class="content">
                <div class="container">
                    <%- include('partial/menu'); %>


                </div>

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">

                            <!-- vd_head-section -->

                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header">
                                    <h1>แผงควบคุมหลัก</h1>

                                    <div class="vd_panel-menu  hidden-xs">
                                        <div class="menu">

                                            <span class="fa fa-calendar" id="daterangepicker">
											<span class="m-subheader__daterange-label">
												<span class="m-subheader__daterange-title"></span>
                                            <span class="m-subheader__daterange-date m--font-brand"></span>
                                            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                                <i class="la la-angle-down"></i>
                                            </a>
                                            </span>

                                            </span>
                                        </div>
                                        <!-- menu -->
                                    </div>
                                </div>
                                <!-- vd_panel-header -->
                            </div>
                            <!-- vd_title-section -->

                            <div class="vd_content-section clearfix">
                                <!-- start row-->


                                <div class="row">
                                    <div class="col-md-4 mgbt-md-20 mgbt-lg-0">
                                        <div class="panel widget panel-bd-top vd_todo-widget light-widget ">
                                            <div class="panel-heading no-title " align="center">
                                                ปริมาณการใช้งาน
                                            </div>
                                            <div class="panel-body ">
                                                <div id="revenue-line-chart" style="height:255px; "></div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-md-4 mgbt-md-20 mgbt-lg-0">
                                        <div class="panel vd_interactive-widget light-widget widget">
                                            <div class="panel-body-list">



                                                <div class="row mgbt-xs-0">
                                                    <div class="col-sm-6 mgbt-xs-15 mgbt-sm-0">
                                                        <div class="item-left pd-5">
                                                            <!-- start 1 -->
                                                            <div class="panel-body">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <i class="fa fa-apple"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <h5 class="vd_red mgbt-xs-0">iOS</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <div class="vd_grey">
                                                                            <p id="val-iOS">0</p>
                                                                        </div>
                                                                        <!-- <div id="total-sparkline" class="mgtp-15 mgr-10 text-right"></div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end 1 -->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="item-right pd-5">
                                                            <!-- start 1 -->
                                                            <div class="panel-body">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <i class="fa fa-android"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <h5 class="vd_red mgbt-xs-0">Android</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <div class="vd_grey">
                                                                            <p id="val-Android">0</p>
                                                                        </div>
                                                                        <!-- <div id="total-sparkline" class="mgtp-15 mgr-10 text-right"></div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end 1 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mgbt-xs-0">
                                                    <div class="col-sm-6 mgbt-xs-15 mgbt-sm-0">
                                                        <div class="item-left pd-5">
                                                            <!-- start 1 -->
                                                            <div class="panel-body">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <i class="fa fa-linux"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <h5 class="vd_red mgbt-xs-0">Unix/Linux</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <div class="vd_grey">
                                                                            <p id="val-Linux">0</p>
                                                                        </div>
                                                                        <!-- <div id="total-sparkline" class="mgtp-15 mgr-10 text-right"></div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end 1 -->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="item-right pd-5">
                                                            <!-- start 1 -->
                                                            <div class="panel-body">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <i class="fa fa-windows"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <h5 class="vd_red mgbt-xs-0">Windows</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <div class="vd_grey">
                                                                            <p id="val-Windows">0</p>
                                                                        </div>
                                                                        <!-- <div id="total-sparkline" class="mgtp-15 mgr-10 text-right"></div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end 1 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mgbt-xs-0">
                                                    <div class="col-sm-6 mgbt-xs-15 mgbt-sm-0">
                                                        <div class="item-left pd-5">
                                                            <!-- start 1 -->
                                                            <div class="panel-body">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <i class="fa fa-question"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <h5 class="vd_red mgbt-xs-0">อื่นๆ</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <div class="vd_grey">
                                                                            <p id="val-other">0</p>
                                                                        </div>
                                                                        <!-- <div id="total-sparkline" class="mgtp-15 mgr-10 text-right"></div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end 1 -->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="item-right pd-5">
                                                            <!-- start 1 -->
                                                            <div class="panel-body">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <i class="fa fa-list"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <h5 class="vd_red mgbt-xs-0">รวม</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-12" align="center">
                                                                        <div class="vd_grey">
                                                                            <p id="val-sum">0</p>
                                                                        </div>
                                                                        <!-- <div id="total-sparkline" class="mgtp-15 mgr-10 text-right"></div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end 1 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="vd_status-widget vd_bg-green widget ">

                                                    <a class="panel-body " href="# ">
                                                        <div class="row ">
                                                            <div class="col-md-3 clearfix ">
                                                                <span class="menu-icon "><i class="icon-mobile "></i></span>
                                                            </div>
                                                            <div class="col-md-9 menu-text clearfix ">
                                                                <p id='val-Mobile'>0</p><br>mobile
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="vd_status-widget vd_bg-green widget ">

                                                    <a class="panel-body " href="# ">
                                                        <div class="row ">
                                                            <div class="col-md-3 clearfix ">
                                                                <span class="menu-icon "><i class="fa fa-laptop "></i></span>
                                                            </div>
                                                            <div class="col-md-9 menu-text clearfix ">
                                                                <p id='val-Computer'>0</p><br>Computer
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="vd_status-widget vd_bg-green widget ">
                                                    <!--<div class="vd_panel-menu ">
                                                        <div data-action="refresh " data-original-title="Refresh " data-rel="tooltip " class=" menu entypo-icon smaller-font "> <i class="icon-cycle "></i> </div>
                                                    </div>-->
                                                    <a class="panel-body " href="# ">
                                                        <div class="row ">
                                                            <div class="col-md-3 clearfix ">
                                                                <span class="menu-icon "><i class="icon-question "></i></span>
                                                            </div>
                                                            <div class="col-md-9 menu-text clearfix ">
                                                                <p id='val-etc'>0</p><br>อื่นๆ
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->
                                <div class="row ">
                                    <div class="col-md-6 ">
                                        <div class="panel widget panel-bd-top vd_todo-widget light-widget ">
                                            <div class="panel-heading no-title ">


                                            </div>
                                            <div class="panel-body ">
                                                <h4 class="mgbt-xs-20 "> <span class="append-icon "> <i class="fa fa-check-circle-o vd_green "></i> </span>การใช้งานแบ่งตามกลุ่ม</h4>
                                                <div class="panel-body-list pd-15">
                                                    <div id="pie-chart-1" class="pie-chart" style="height:318px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--col-md-5-->
									
									<div class="col-md-6 ">
                                        <div class="panel widget panel-bd-top vd_todo-widget light-widget ">
                                            <div class="panel-heading no-title ">

                                            </div>
                                            <div class="panel-body ">
                                                <h4 class="mgbt-xs-20 "> <span class="append-icon "> <i class="fa fa-check-circle-o vd_green "></i> </span>การใช้งาน Browser</h4>
                                                <div class="panel-body-list pd-15">
                                                    <div id="pie-chart-2" class="pie-chart" style="height:318px;"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    
                                    <!-- col-md-3 -->
                                </div>
                                <div class="row ">
                                    <div class="col-md-6 " style="display: none;">
                                        <div class="panel widget panel-bd-top vd_todo-widget light-widget ">
                                            <div class="panel-heading no-title ">


                                            </div>
                                            <div class="panel-body ">
                                                <h4 class="mgbt-xs-20 " align="center"> ประกาศแจ้งเตือนการใช้งานระบบล่าสุด</h4>
                                                วันสถาปนากรมสรรพสามิต ครบรอบ 86 ปี นายกฤษฎา จีนะวิจารณะ อธิบดีกรมสรรพสามิต เป็นประธานในพิธีวันสถาปนากรมสรรพสามิตครบรอบ 86 ปี โดยได้จัดให้มีพิธีสักการะสิ่งศักดิ์สิทธิ์ประจำกรมสรรพสามิต พิธีทำบุญเลี้ยงพระ 9 รูป การรับมอบเงินบริจาคจากหน่วยงานต่างๆ เข้ากองทุนสรรพสามิตเพื่อสังคม
                                                การแสดงของเจ้าหน้าที่กรมสรรพสามิต การประกาศเจตนารมณ์เจตจำนงสุจริตในการบริหารงานมุ่งสู่การเป็นองค์กรที่ยึดมั่นในหลักธรรมาภิบาล พิธีมอบใบประกาศเกียรติคุณข้าราชการพลเรือนดีเด่น และการเสวนาในหัวข้อ “86 ปี สู่สรรพสามิต
                                                4.0” โดยมีคณะผู้บริหาร ข้าราชการ และเจ้าหน้าที่เข้าร่วมงานดังกล่าว ณ หอประชุมกรมสรรพสามิต เมื่อวันที่ 19 กุมภาพันธ์ 2561


                                            </div>
                                        </div>
                                    </div>
									<div class="col-md-6 " style="display: none;">
                                        <div class="panel widget panel-bd-top vd_todo-widget light-widget ">
                                            <div class="panel-heading no-title ">


                                            </div>
                                            <div class="panel-body ">
                                                <h4 class="mgbt-xs-20 "> <span class="append-icon "> <i class="fa fa-check-circle-o vd_green "></i> </span>การใช้งานแบ่งตามพื้นที่</h4>
                                                <div class="item-right pd-15">
                                                    <div id="revenue-bar-chart" style="height: 318px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--col-md-5-->

                                    
                                    <!-- col-md-3 -->
                                </div>

                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->


            </div>
            <!-- .container -->
    </div>
    <!-- .content -->

    <%- include('partial/footer'); %>



        </div>

        <!-- .vd_body END  -->
        <a id="back-top " href="# " data-action="backtop " class="vd_back-top visible "> <i class="fa fa-angle-up "> </i> </a>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--<div class="modal-header vd_bg-blue vd_white">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>-->
                    <div class="modal-body">
                        Header
                        <form class="form-horizontal">
                            <div class="form-group">
                                Content

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--
<a class="back-top " href="# " id="back-top "> <i class="icon-chevron-up icon-white "> </i> </a> -->

        <!-- Javascript =============================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <!--[if lt IE 9]>
  <script type="text/javascript" src="js/excanvas.js"></script>
<![endif]-->

        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
        <script type="text/javascript" src="plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

        <script type="text/javascript" src="js/caroufredsel.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>

        <script type="text/javascript" src="plugins/breakpoints/breakpoints.js"></script>
        <script type="text/javascript" src="plugins/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js"></script>

        <script type="text/javascript" src="plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="plugins/tagsInput/jquery.tagsinput.min.js"></script>
        <script type="text/javascript" src="plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="plugins/blockUI/jquery.blockUI.js"></script>
        <script type="text/javascript" src="plugins/pnotify/js/jquery.pnotify.min.js"></script>

        <script type="text/javascript" src="js/theme.js"></script>
        <script type="text/javascript" src="custom/custom.js"></script>

        <!-- Specific Page Scripts Put Here -->
        <!-- Flot Chart  -->
        <script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.pie.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.categories.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.animator.min.js"></script>

        <!-- Vector Map -->
        <script type="text/javascript" src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script type="text/javascript" src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

        <!-- Calendar -->
        <script type="text/javascript" src='plugins/moment/moment.min.js'></script>
        <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
        <script type="text/javascript" src='plugins/fullcalendar/fullcalendar.min.js'></script>

        <!-- Intro JS (Tour) -->
        <script type="text/javascript" src='plugins/introjs/js/intro.min.js'></script>

        <!-- Sky Icons -->
        <script type="text/javascript" src='plugins/skycons/skycons.js'></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />



        <script type="text/javascript ">
            $(document).ready(function() {
                //alert($('#email').text().trim());
                //account_now = 'natthawat_a';
                account_now = $('#email').text().trim();
				alert(account_now);


            });
            $(window).load(function() {
				
                var priv = $("#priv").html().trim().split(",");
                if (priv[1] < 1) {
                    $('#top-menu-3').hide();
                } else {
                    $('#top-menu-3').show();
                }
            });
        </script>
        <!-- Specific Page Scripts END -->




        <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <script type="text/javascript ">
            function refresh_group(sd, ed) {
                //alert('refresh');
                $.ajax('http://localhost/report/report672', {
                    type: "get",
                    data: {
                        start: sd,
                        end: ed
                    },
                    success: function(json) {
                        //alert(JSON.stringify(json));
                        data_res = JSON.parse(JSON.stringify(json));
                        bindata_group(data_res);
                    }
                });
            }


            function bindata_group(data_sql) {
                //alert('bind');
                //alert(data_sql);
                data = [];
                total = 0;
                for (i = 0; i < data_sql.length; i++) {
                    data_json = {};
                    if (data_sql[0] == '') {
                        district_name = 'อื่นๆ';
                    } else {
                        district_name = data_sql[0];
                    }

                    data_json = {
                        type: district_name,
                        amount: data_sql[1]
                    };
                    total = total + data_sql[1];
                    //alert(JSON.stringify(data_json));
                    data.push(data_json);
                    //alert(JSON.stringify(data));
                    data_sql.splice(0, 2);
                    i = -1;

                }
                //alert(JSON.stringify(data));
                c1(data);
            }
            c1 = function(data) {
                //var site = [{"siteName":"Central","amountOfuser":"154"},{"siteName":"Eastern","amountOfuser":"65"},{"siteName":"Southern","amountOfuser":"35"},{"siteName":"Northern","amountOfuser":"41"},{"siteName":"Northeastern","amountOfuser":"21"}];
                var pie_data = [],
                    //e = Math.floor(10 * Math.random()) + 1;
                    //e = e < 5 ? 5 : e;
                    e = data.length;
                for (var o = 0; o < e; o++)
                    pie_data[o] = {
                        //label: "Series" + (o + 1),
                        label: data[o].type,
                        //data: Math.floor(100 * Math.random()) + 1
                        data: data[o].amount
                    };
                //alert(pie_data);
                document.getElementById('pie-chart-1').innerHTML = '';

                var pie_placeholder = $("#pie-chart-1");


                $.plot(pie_placeholder, pie_data, {
                    series: {
                        pie: {
                            show: true,
                            label: {
                                show: true,
                                radius: .5,
                                formatter: labelFormatter,
                                background: {
                                    opacity: 0
                                }
                            },

                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true
                    },
                    colors: ["#FCB660", "#ce91db", "#56A2CF", "#52D793", "#FC8660", "#CCCCCC"]
                });

                pie_placeholder.bind("plothover", function(event, pos, obj) {
                    if (!obj) {
                        return;
                    }
                    var percent = parseFloat(obj.series.percent).toFixed(2);
                    $("#hover").html("<span style='font-weight:bold; color:" + obj.series.color + "'>" + obj.series.label + " (" + percent + "%)</span>");
                });

                pie_placeholder.bind("plotclick", function(event, pos, obj) {
                    if (!obj) {
                        return;
                    }
                    percent = parseFloat(obj.series.percent).toFixed(2);
                    //alert("" + obj.series.label + ": " + percent + "%");
                });

                function labelFormatter(label, series) {
                    return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
                }
            }

            function refresh_browser(sd, ed) {
                //alert('refresh');
                $.ajax('http://localhost/report/report67153', {
                    type: "get",
                    data: {
                        start: sd,
                        end: ed
                    },
                    success: function(json) {
                        //alert(JSON.stringify(json));
                        data_res = JSON.parse(JSON.stringify(json));
                        bindata_browser(data_res);
                    }
                });
            }


            function bindata_browser(data_sql) {
                //alert('bind');
                //alert(data_sql);
                data = [];
                total = 0;
                for (i = 0; i < data_sql.length; i++) {
                    data_json = {};
                    data_json = {
                        browser: data_sql[0],
                        amount: data_sql[1]
                    };
                    total = total + data_sql[1];
                    //alert(JSON.stringify(data_json));
                    data.push(data_json);
                    //alert(JSON.stringify(data));
                    data_sql.splice(0, 2);
                    i = -1;

                }
                //alert(JSON.stringify(data));
                c2(data);
            }
            c2 = function(data) {
                //var site = [{"siteName":"Central","amountOfuser":"154"},{"siteName":"Eastern","amountOfuser":"65"},{"siteName":"Southern","amountOfuser":"35"},{"siteName":"Northern","amountOfuser":"41"},{"siteName":"Northeastern","amountOfuser":"21"}];
                var pie_data = [],
                    //e = Math.floor(10 * Math.random()) + 1;
                    //e = e < 5 ? 5 : e;
                    e = data.length;
                for (var o = 0; o < e; o++)
                    pie_data[o] = {
                        //label: "Series" + (o + 1),
                        label: data[o].browser,
                        //data: Math.floor(100 * Math.random()) + 1
                        data: data[o].amount
                    };
                //alert(pie_data);
                document.getElementById('pie-chart-2').innerHTML = '';

                var pie_placeholder = $("#pie-chart-2");


                $.plot(pie_placeholder, pie_data, {
                    series: {
                        pie: {
                            show: true,
                            label: {
                                show: true,
                                radius: .5,
                                formatter: labelFormatter,
                                background: {
                                    opacity: 0
                                }
                            },

                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true
                    },
                    colors: ["#FCB660", "#ce91db", "#56A2CF", "#52D793", "#FC8660", "#CCCCCC"]
                });

                pie_placeholder.bind("plothover", function(event, pos, obj) {
                    if (!obj) {
                        return;
                    }
                    var percent = parseFloat(obj.series.percent).toFixed(2);
                    $("#hover").html("<span style='font-weight:bold; color:" + obj.series.color + "'>" + obj.series.label + " (" + percent + "%)</span>");
                });

                pie_placeholder.bind("plotclick", function(event, pos, obj) {
                    if (!obj) {
                        return;
                    }
                    percent = parseFloat(obj.series.percent).toFixed(2);
                    alert("" + obj.series.label + ": " + percent + "%");
                });

                function labelFormatter(label, series) {
                    return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
                }
            }

            function refresh_os(sd, ed) {
                //alert('refresh');
                $.ajax('http://localhost/report/report67152', {
                    type: "get",
                    data: {
                        start: sd,
                        end: ed
                    },
                    success: function(json) {
                        //alert(JSON.stringify(json));
                        data_res = JSON.parse(JSON.stringify(json));
                        bindata_os(data_res);
                    }
                });
            }


            function bindata_os(data_sql) {
                //alert('bind');
                //alert(data_sql);
                data = [];
                total = 0;
                for (i = 0; i < data_sql.length; i++) {
                    data_json = {};
					
                    if (data_sql[0] == '') {
                        os_name = 'other';
                    } else if(data_sql[0].substr(0,7)=='Windows'){
						os_name = 'Windows';
					}
					else {
                        os_name = data_sql[0];
                    }
					//alert('val-' + os_name);
                    document.getElementById('val-' + os_name).innerHTML = data_sql[1];
                    //data_json = {type:os_name,amount:data_sql[1]};
                    total = total + data_sql[1];
                    //alert(JSON.stringify(data_json));
                    //data.push(data_json);
                    //alert(JSON.stringify(data));
                    data_sql.splice(0, 2);
                    i = -1;

                }
                document.getElementById('val-sum').innerHTML = total;
                //alert(JSON.stringify(data));
            }

            function refresh_device(sd, ed) {
                //alert('refresh');
                $.ajax('http://localhost/report/report678', {
                    type: "get",
                    data: {
                        start: sd,
                        end: ed
                    },
                    success: function(json) {
                        //alert(JSON.stringify(json));
                        data_res = JSON.parse(JSON.stringify(json));
                        bindata_device(data_res);
                    }
                });
            }


            function bindata_device(data_sql) {
                //alert('bind');
                //alert(data_sql);
                data = [];
                total = 0;
                for (i = 0; i < data_sql.length; i++) {
                    data_json = {};
                    if (data_sql[0] == '') {
                        device_type = 'etc';
                    } else {
                        device_type = data_sql[0];
                    }
                    document.getElementById('val-' + device_type).innerHTML = data_sql[1];
                    //data_json = {type:os_name,amount:data_sql[1]};
                    total = total + data_sql[1];
                    //alert(JSON.stringify(data_json));
                    //data.push(data_json);
                    //alert(JSON.stringify(data));
                    data_sql.splice(0, 2);
                    i = -1;

                }
                //alert(JSON.stringify(data));
            }

            function datepick() {
                function e(e, a, r) {
                    //refresh_area(e.format("Y-M-D"), a.format("Y-M-D"));
                    refresh_device(e.format("Y-M-D"), a.format("Y-M-D"));
                    refresh_os(e.format("Y-M-D"), a.format("Y-M-D"));
                    refresh_group(e.format("Y-M-D"), a.format("Y-M-D"));
                    refresh_browser(e.format("Y-M-D"), a.format("Y-M-D"));
                    //alert(e.format("Y-M-D"));
                    //alert(a.format("Y-M-D"));

                    //group_chart();

                    var o = "",
                        l = "";
                    a - e < 100 ? (o = "Today:", l = e.format("MMM D")) : "Yesterday" == r ? (o = "Yesterday:", l = e.format("MMM D")) : l = e.format("MMM D") + " - " + a.format("MMM D"),
                        t.find(".m-subheader__daterange-date").html(l),
                        t.find(".m-subheader__daterange-title").html(o)
                }
                if (0 != $("#daterangepicker").length) {
                    var t = $("#daterangepicker"),
                        a = moment(),
                        r = moment();
                    t.daterangepicker({
                            startDate: a,
                            endDate: r,
                            opens: "left",
                            ranges: {
                                Today: [moment(), moment()],
                                //Yesterday: [moment().subtract(1, "days"), moment().subtract(1, "days")],
                                "Last 7 Days": [moment().subtract(6, "days"), moment()],
                                "Last 30 Days": [moment().subtract(29, "days"), moment()],
                                "This Month": [moment().startOf("month"), moment().endOf("month")],
                                "This Year": [moment().startOf("year"), moment().endOf("year")]
                                    //"Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                            }
                        }, e),
                        e(a, r, "")
                }
            }
			
			$.fn.UseTooltip = function () {
			var previousPoint = null;
			 
			$(this).bind("plothover", function (event, pos, item) {        
					if (item) {
						if (previousPoint != item.dataIndex) {
		
							previousPoint = item.dataIndex;
		
							$("#tooltip").remove();
							var x = item.datapoint[0].toFixed(2),
							y = item.datapoint[1].toFixed(2);
							var xx = item.datapoint[0];
							xx++;
							xx = xx.toFixed(2)
							//alert(xx);

		
							showTooltip(item.pageX, item.pageY,
								"<p class='vd_bg-green'><strong class='mgr-10 mgl-10'>" + Math.round(x)  + ":00 - " + Math.round(xx)  + ":00 </strong></p>" +
								"<div style='padding: 0 10px 10px;'>" +
								"<div>มีจำนวนการใช้งาน : "+ Math.round(y)  +"</div>" +
								"</div>"
							);
						}
					} else {
						$("#tooltip").remove();
						previousPoint = null;            
					}
			});
		};
		
		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css({
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 20,    
				size: '10',  
//				'border-top' : '3px solid #1FAE66',
				'background-color': '#111111',
				color: "#FFFFFF",
				opacity: 0.85
			}).appendTo("body").fadeIn(200);
		}

            function line_chart(data) {
                /* REVENUE LINE CHART */

                var d2 = data;
				var d = new Date();
				d.getHours();
				//alert(d.getHours()+2);

                var plot = $.plotAnimator($("#revenue-line-chart"), [{ 
				data: d2, 
				label: " x = ช่วงเวลา, y = จำนวน",
				animator: {steps: 60, duration: 1000, start:0}, 		
				lines: {lineWidth:2},	
				shadowSize:0,
				color: '#F85D2C'
			}
			

                ], {
                    xaxis: {
                        tickLength: 0,
                        tickDecimals: 0,
                        min: 0,
						max: d.getHours()+1,
     

                        font: {
                            lineHeight: 13,
                            style: "normal",
                            weight: "bold",
                            family: "sans-serif",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    yaxis: {
                        ticks: 3,
                        tickDecimals: 0,
                        tickColor: "#f0f0f0",
                        font: {
                            lineHeight: 13,
                            style: "normal",
                            weight: "bold",
                            family: "sans-serif",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    grid: {
                        backgroundColor: {
                            colors: ["#fff", "#fff"]
                        },
                        borderWidth: 1,
                        borderColor: "#f0f0f0",
                        margin: 0,
                        minBorderMargin: 0,
                        labelMargin: 20,
                        hoverable: true,
                        clickable: true,
                        mouseActiveRadius: 6
                    },
                    legend: {
                        show: false
                    }
                });

                $("#revenue-line-chart").UseTooltip();

                $(window).on("resize", function() {
                    plot.resize();
                    plot.setupGrid();
                    plot.draw();


                });
                //alert('a')
            }

            function refresh_traffic() {
                //alert('refresh');
                $.ajax('http://localhost/report/traffic', {
                    type: "get",
                    success: function(json) {
                        //alert(JSON.stringify(json));
                        data_res = JSON.parse(JSON.stringify(json));
                        bindata_traffic(data_res);
                    }
                });
            }

            function bar_chart(data) {
                /* REVENUE BAR CHART */

                var bar_chart_data = data;

                var bar_chart = $.plot(
                    $("#revenue-bar-chart"), [{
                        data: bar_chart_data,
                        //           color: "rgba(31,174,102, 0.8)",
                        color: "#F85D2C",
                        shadowSize: 0,
                        bars: {
                            show: true,
                            lineWidth: 0,
                            fill: true,
                            fillColor: {
                                colors: [{
                                    opacity: 1
                                }, {
                                    opacity: 1
                                }]
                            }
                        }
                    }], {
                        series: {
                            bars: {
                                show: true,
                                barWidth: 0.9,
                                align: "center"
                            }
                        },
                        grid: {
                            show: true,
                            hoverable: true,
                            borderWidth: 0
                        },
                        yaxis: {
                            min: 0,
                            max: 20,
                            show: false
                        },
                        xaxis: {
                            mode: "categories",
                            tickLength: 0,
                            color: "#FFFFFF",
                        }
                    });

            }

            function bindata_traffic(data_sql) {
                //alert('bind');
                //alert(data_sql);
                data = [];

                total = 0;
                count = 0;
                for (i = 0; i < 24; i++) {
                    data_json = [];
                    if (data_sql[0] == count && data_sql.length > 0) {
                        data_json = [
                            [data_sql[0], data_sql[1]]
                        ];
                        data_sql.splice(0, 2);
                    } else {
                        data_json = [
                            [count, 0]
                        ];
                    }

                    count++;
                    total = total + data_sql[1];
                    //alert(JSON.stringify(data_json));
                    data = data.concat(data_json);
                    //alert(JSON.stringify(data));

                }
                //alert(JSON.stringify(data));
                line_chart(data);
            }

            function refresh_area(sd, ed) {
                //alert('refresh');
                $.ajax('http://localhost/report/report67154', {
                    type: "get",
                    data: {
                        start: sd,
                        end: ed
                    },
                    success: function(json) {
                        //alert(JSON.stringify(json));
                        data_res = JSON.parse(JSON.stringify(json));
                        bindata_area(data_res);
                    }
                });
            }

            function bindata_area(data_sql) {
                //alert('bind');
                //alert(data_sql);
                data = [];

                total = 0;
                //count = 0;
                for (i = 0; i < data_sql.length; i++) {
                    data_json = [];
                    data_json = [
                        [data_sql[0], data_sql[1]]
                    ];
                    data_sql.splice(0, 2);

                    total = total + data_sql[1];
                    //alert(JSON.stringify(data_json));
                    data = data.concat(data_json);
                    //alert(JSON.stringify(data));
                    i = -1;

                }
                //alert(JSON.stringify(data));
                bar_chart(data);
            }


            function get_browser() {
                var ua = navigator.userAgent,
                    tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
                if (/trident/i.test(M[1])) {
                    tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                    return {
                        name: 'IE',
                        version: (tem[1] || '')
                    };
                }
                if (M[1] === 'Chrome') {
                    tem = ua.match(/\bOPR|Edge\/(\d+)/)
                    if (tem != null) {
                        return {
                            name: 'Opera',
                            version: tem[1]
                        };
                    }
                }
                M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
                if ((tem = ua.match(/version\/(\d+)/i)) != null) {
                    M.splice(1, 1, tem[1]);
                }
                return {
                    name: M[0],
                    version: M[1]
                };

            };

            //var browser=get_browser();

            //browser.name = 'Chrome'
            //browser.version = '40'
            function acclogin() {
                $.ajax('https://freegeoip.net/json/', {
                    type: "get",
                    success: function(data) {
                        //alert('a');
                        var browser = get_browser();
                        //alert(browser.name+browser.version);
                        login_log(browser.name, data.ip);

                    },
                    error: function(fa) {
                        //alert(JSON.stringify(fa));
                        //alert('b');
                    }
                });
            }

            function login_log(b, i) {
                $.ajax('http://localhost/api/accesslog', {
                    type: "get",
                    data: {
                        browser: b,
                        ip: i,
                        status: 'Login',
                        accname: 'natthawat_a'
                    },
                    success: function(json) {
                        //alert(b+i)	;
                        countlog();
                    },
                    error: function(fa) {
                        //alert(JSON.stringify(fa));
                        //alert('a');
                    }
                });
            }

            function countlog() {
                //alert('refresh');
                $.ajax('http://localhost/api/countlogin', {
                    type: "get",
                    data: {
                        accname: account_now
                    },
                    success: function(json) {
                        //alert(json);
                        if (json == 1) {
							addviolation('overlogin');
							$.ajax('http://localhost/api/message/email/1/' + account_now, {
                                type: "get",
                                success: function(json) {
                                    //alert(JSON.stringify(json));
                                }
                            });
                            //alert('มีการ Login บ่อยเกินว่าปกติในช่วงเวลาสั้นๆ ระบบจะทำการส่ง Email ไปยังผู้ดูแลระบบ');
							if($("#priv").html().trim().split(",")[2]=='false'){
								window.location = "/systemcenter/profile";
							}
							
                        }

                    }
                });
            }
			
			function addviolation(detail) {
				//alert('refresh');
				$.ajax('http://localhost/api/addviolation', {
					type: "get",
					data: {
						violation: detail,
						accname: account_now
					},
					success: function(json) {
						//alert(json);
					}
				});
			}
			
			function check_access() {
                //alert('refresh');
                $.ajax('http://localhost/api/checkaccesstime', {
                    type: "get",
                    success: function(json) {
                        //alert(json);
                        if (json == 1) {
							addviolation('outoftime');
							$.ajax('http://localhost/api/message/email/3/' + account_now, {
                                type: "get",
                                success: function(json) {
                                    //alert(JSON.stringify(json));
                                }
                            });
                            //alert('มีการ Login บ่อยเกินว่าปกติในช่วงเวลาสั้นๆ ระบบจะทำการส่ง Email ไปยังผู้ดูแลระบบ');
							
                        }

                    }
                });
            }
			
			function check_devicemon() {
                //alert('refresh');
                $.ajax('http://localhost/api/checkdevicemon', {
                    type: "get",
                    success: function(json) {
                        //alert(json);
                        if (json == 1) {
							addviolation('devicemon');
							$.ajax('http://localhost/api/message/email/6/' + account_now, {
                                type: "get",
                                success: function(json) {
                                    //alert(JSON.stringify(json));
                                }
                            });
                            //alert('มีการ Login บ่อยเกินว่าปกติในช่วงเวลาสั้นๆ ระบบจะทำการส่ง Email ไปยังผู้ดูแลระบบ');
							
                        }

                    }
                });
            }
			check_access();
			check_devicemon();
            acclogin();
            refresh_traffic();

            datepick();
        </script>

</body>

</html>